@media screen and (max-width:640px) {
  .flex {
    display: inline-block;
  }
  .inside #map-container {
    width: 100%;
    height: 200px;
    top: 0;
    position: relative;
  }
  body {
    margin: 0;
  }
  #restaurant-container {
    margin-top: 2vh;
    padding: 0;
    margin: auto;
  }
  #restaurant-container, #reviews-container {
    width: 80%;
    padding-left: 10px;
  }
  .inside #footer {
    width: 100%;
  }
  #footer {
    padding: 0;
    font-size: 12pt;
  }
  .inside header {
    position: relative;
    width: 100vw;
  }
  table tr td {
    font-size: 12pt;
  }
  /* nav{
  width: 100%;
} */
  #reviews-list li {
    width: 100%;
  }
  #breadcrumb {
    width: calc(100% - 80px);
  }
  body, td, th, p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: #333;
    line-height: 1.5;
  }
  ul, li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: #333;
  }
  #map {
    height: 100%;
  }
  h1 h2 {
    text-align: center;
  }
}

@media screen and (min-width:641px) and (max-width:1050px) {
  .flex {
    display: inline-block;
  }
  .inside #map-container {
    width: 100%;
    height: 400px;
    top: 0;
    position: relative;
  }
  body {
    margin: 0;
  }
  #restaurant-container {
    margin-top: 2vh;
    padding: 0;
    margin: auto;
  }
  #restaurant-container, #reviews-container {
    width: 80%;
  }
  .inside #footer {
    width: 100%;
  }
  #footer {
    padding: 0;
    font-size: 18pt;
  }
  .inside header {
    position: relative;
    width: 100vw;
  }
  table tr td {
    font-size: 18pt;
  }
  /* nav{
  width: 100%;
} */
  #reviews-list li {
    width: 100%;
  }
  #breadcrumb {
    width: calc(100% - 80px);
  }
  body, td, th, p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    color: #333;
    line-height: 1.5;
  }
  ul, li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    color: #333;
  }
  #map {
    height: 100%;
  }
  h1 {
    text-align: center;
  }
}
